/* Estilos generales para la página */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f7f6;
    color: #333;
}

section {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #007BFF;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

input[type="submit"] {
    background: linear-gradient(45deg, #007BFF, #00CFFF);
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background: linear-gradient(45deg, #0056b3, #0093d0);
    transform: scale(1.05);
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
